{
  "ecmaFeatures": {
    "binaryLiterals": false,
    "blockBindings": true,
    "defaultParams": true,
    "forOf": true,
    "generators": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": false,
    "regexUFlag": false,
    "regexYFlag": false,
    "templateStrings": true,
    "unicodePointEscapes": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Promise": true,
    "__DEV__": true,
    "__PROD__": true,
    "__NODE__": true,
    "__BROWSER__": true
  },
  "rules": {
    "no-comma-dangle": false,
    "no-cond-assign": true,
    "no-console": false,
    "no-constant-condition": true,
    "no-control-regex": false,
    "no-debugger": true,
    "no-dupe-keys": true,
    "no-empty": true,
    "no-empty-class": true,
    "no-ex-assign": true,
    "no-extra-boolean-cast": true,
    "no-extra-parens": true,
    "no-extra-semi": true,
    "no-func-assign": true,
    "no-inner-declarations": true,
    "no-invalid-regexp": true,
    "no-irregular-whitespace": true,
    "no-negated-in-lhs": true,
    "no-obj-calls": true,
    "no-regex-spaces": true,
    // "no-reserved-keys": false,
    "no-sparse-arrays": true,
    "no-unreachable": true,
    "use-isnan": true,
    "valid-jsdoc": true,
    "valid-typeof": true,

    "block-scoped-var": false,
    "complexity": 5,
    "consistent-return": true,
    "curly": [2, "all"],
    "dot-notation": false,
    "eqeqeq": true,
    "guard-for-in": false,
    "no-alert": true,
    "no-div-regex": true,
    "no-else-return": true,
    "no-empty-label": true,
    "no-eq-null": false,
    "no-eval": true,
    "no-extend-native": false,
    "no-extra-binding": true,
    "no-fallthrough": true,
    "no-floating-decimal": true,
    "no-implied-eval": true,
    "no-iterator": true,
    "no-labels": true,
    "no-lone-blocks": true,
    "no-loop-func": true,
    "no-multi-spaces": true,
    "no-multi-str": true,
    "no-native-reassign": true,
    "no-new": true,
    "no-new-func": true,
    "no-new-wrappers": true,
    "no-octal": true,
    "no-octal-escape": false,
    "no-process-env": true,
    "no-proto": true,
    "no-redeclare": true,
    "no-return-assign": true,
    "no-script-url": true,
    "no-self-compare": true,
    "no-sequences": true,
    "no-unused-expression": false,
    "no-void": false,
    "no-warning-comments": false,
    "no-with": true,
    "radix": true,
    "vars-on-top": false,
    "wrap-iife": true,
    "no-catch-shadow": true,
    "no-delete-var": true,
    "no-label-var": true,
    "no-shadow": true,
    "no-shadow-restricted-names": true,
    "no-undef": true,
    "no-undef-init": true,
    "no-undefined": true,
    "no-unused-vars": true,
    "no-use-before-define": true,
    "handle-callback-err": true,
    "no-mixed-require": true,
    "no-new-require": true,
    "no-path-concat": true,
    "no-process-exit": true,
    "no-sync": true,

    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "camelcase": true,
    "comma-spacing": [2, { "before": false, "after": true }],
    "comma-style": "last",
    "consistent-this": "self",
    "eol-last": true,
    "func-names": true,
    "func-style": [2, "declaration"],
    "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
    "max-nested-callbacks": [2, 5],
    "new-cap": true,
    "new-parens": true,
    "no-array-constructor": true,
    "no-inline-comments": false,
    "no-lonely-if": false,
    "no-mixed-spaces-and-tanbs": true,
    "no-multiple-empty-lines": false,
    "no-nested-ternary": false,
    "no-new-object": true,
    "no-space-before-semi": true,
    "no-spaced-func": true,
    "no-ternary": false,
    "no-trailing-spaces": true,
    "no-underscore-dangle": true,
    "no-wrap-func": true,
    "one-var": false,
    "operator-assignment": [2, "never"],
    "padded-blocks": "never",
    "quote-props": "as-needed",
    "quotes": [1, "single"],
    "semi": [2, "always"],
    "space-after-function-name": "never",
    "space-after-keywords": "never",
    "space-before-blocks": "always",
    "space-in-parens": "never",
    "space-infix-ops": true,
    "space-return-throw-case": true,
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "spaced-line-comment": ["always", { "exceptions": ["-", "+", "*"] }],
    "wrap-regex": false,

    "no-var": true,
    "generator-star": "start"
  }
}
